/* Regole generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Container */
.container {
    max-width: 900px;
    margin: 0px auto;
}

/* Main */
.main-content {
    padding-top: 100px;
}

/* Immagine delle slide */
.slide img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}